#tweetbtn{
	border-radius:12px;
	margin: 2px 8px;
}

#group-name-card{
    background-color: orange;
}

#group-name-image{
    width: 72px;
    height: 72px;
}

#group-name-card-body{
    display: flex;
    align-items: center;
}

#group-name-card-body h3{
    margin-left: 1rem;
}

#main-content{
    display: flex;
    flex-direction: row;
}


#modal-body{
    width: 50rem;
    z-index: 2;
}

#modal-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.8);
}

#main-content-right{
  flex-grow: 1;
}

#main-content-center{
  flex-grow: 2;

}
#main-content-left{
  flex-grow: 1;

}

#center-card-style{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.avatar{
	border-radius: 50%;
}

.card{
	margin-bottom: 10px;
	margin-top: 10px;
}
